[Desktop Entry]
Name=com.github.wesleymontaigne.sleeptime
GenericName=Sleep Time
Comment=turn off your computer programmatically
Categories=Utility;Accessories;
Exec=sleeptime
Icon=sleeptime.svg
Terminal=false
Type=Application
Keywords=Turn off;Power off;Sleep;schedule;
X-GNOME-UsesNotifications=true
